# Resolução da lista de exercícios 2

Lista: 'Lista de Exercícios 2 – Estatística Descritiva Usando Pandas e Numpy.pdf'

# Questão 1
Pesquisadores coletaram dados para examinar a relação entre o desempenho acadêmico de alunos do ensino fundamental e médio e suas condições socioeconômicas, bem como as condições das escolas em que estudam, em várias regiões do Brasil. Durante o estudo, o desempenho acadêmico foi medido através das notas médias dos alunos em disciplinas como Matemática, Português e Ciências. As condições socioeconômicas foram avaliadas com base na renda familiar, nível de escolaridade dos pais, acesso a recursos educacionais além da escola, entre outros. As condições das escolas foram analisadas com base na infraestrutura, disponibilidade de materiais didáticos e qualificação dos professores. Os dados foram coletados sobre 65.000 alunos de diferentes estados brasileiros entre os anos de 2018 e 2020."

Com base no cenário anterior, responda as seguintes perguntas:

- a) Qual é a principal questão de pesquisa que pode ser elaborada para esse estudo?
- b) Quem são os objetos de interesse e quantos estão incluídos?
- c) Quais são as variáveis? Identifique cada variável como numérica ou categórica. Se numérica, classifique-a em discreta ou contínua e, se categórica, em ordinal ou nominal.
- d) Identifique a população de interesse e a amostra deste estudo.
- e) Os resultados do estudo podem ser generalizados para a população?
- f) Os resultados do estudo podem ser usados para estabelecer relações causais?

## Item a)

_Qual a relação entre o desempenho acadêmico de estudantes do ensino fundamental e médio e as condições socioeconômicas de suas famílias e as características das escolas em que estudam no Brasil?_

Outras questões que podem ser exploradas

- a.1 Quais fatores socioeconômicos e escolares mais influenciam o desempenho acadêmico?
- a.2 Existe diferença no desempenho acadêmico entre alunos de diferentes regiões do Brasil?
- a.3 Há uma relação entre o nível socioeconômico e o acesso a recursos educacionais?

## Item b)

_Quem são os objetos de interesse e quantos estão incluídos?_

Os objetos de interesse são os alunos do ensino fundamental e médio. O estudo incluiu 65.000 alunos.

## Item c)

- Discretas: Número de membros da família, nível de escolaridade dos pais (em anos), idade do aluno.
- Contínuas: Renda familiar, notas médias em disciplinas (Matemática, Português, Ciências).
- Variáveis categóricas:
  - Nominais: Região do Brasil, sexo do aluno, escola (cada escola pode ser considerada uma categoria), estado civil dos pais.
  - Ordinais: Nível socioeconômico (baixo, médio, alto), nível de satisfação com os recursos da escola (insatisfeito, satisfeito, muito satisfeito).

## Item d)

- População de interesse: Todos os alunos do ensino fundamental e médio no Brasil.
- Amostra: Os 65.000 alunos de diferentes estados brasileiros que participaram do estudo entre 2018 e 2020.

## Item e)

Sim, os resultados podem ser generalizados para a população de alunos do ensino fundamental e médio no Brasil com algumas ressalvas. A generalização depende da representatividade da amostra em relação à população. Se a amostra foi selecionada de forma aleatória e abrange diferentes regiões e contextos socioeconômicos, a generalização é mais confiável. No entanto, é importante considerar que a generalização pode ser limitada por fatores como a representatividade regional e a variação temporal.

## Item f)

Estabelecer relações causais é mais complexo e requer um delineamento experimental mais rigoroso. Embora o estudo possa identificar correlações entre as variáveis, não garante uma relação de causa e efeito. Para estabelecer causalidade, seria necessário um experimento controlado, onde os pesquisadores manipulassem as variáveis independentes (como a renda familiar ou a qualidade da escola) e observassem o impacto no desempenho acadêmico.

- Fatores que podem limitar a inferência causal:
- Variaveis confundidoras: Outras variáveis não medidas, como a inteligência, a motivação e o tempo dedicado aos estudos, podem influenciar tanto o desempenho acadêmico quanto as condições socioeconômicas.
- Direção da causalidade: A relação entre as variáveis pode ser bidirecional. Por exemplo, o baixo desempenho acadêmico pode levar a dificuldades financeiras na família, ou vice-versa.

Para fortalecer a inferência causal, os pesquisadores podem:

- Controlar por variáveis confundidoras: Incluir essas variáveis na análise estatística.
- Utilizar modelos estatísticos mais sofisticados: Como modelos de equações estruturais ou modelos de regressão hierárquica.
- Realizar análises de sensibilidade: Verificar como os resultados mudam quando diferentes modelos ou conjuntos de dados são utilizados.

Em resumo, o estudo pode identificar associações entre as variáveis, mas não prova causalidade. Para estabelecer relações causais, seriam necessários estudos experimentais mais rigorosos.

Análises adicionais que podem ser realizadas:

- Análise exploratória de dados: Visualizar a distribuição das variáveis, identificar outliers e verificar a existência de relações não lineares.
- Análise de regressão: Modelar a relação entre o desempenho acadêmico e as variáveis independentes, controlando por outras variáveis relevantes.
- Análise de agrupamento: Identificar grupos de alunos com características similares em termos de desempenho acadêmico e condições socioeconômicas.
- Análise de sobrevivência: Analisar a probabilidade de um aluno permanecer na escola ao longo do tempo.

# Questão 2

Encontre a média, a mediana e a moda das distribuições de dados apresentados nas tabelas a seguir.

![Tabela de dados](tabela_dados_questao2.png)

In [3]:
import numpy as np
dados = np.array([6, 1, 1, 10, 6, 4, 8, 1, 6, 2,\
                1, 4, 10, 0, 4, 9, 5, 6, 4, 9,\
                10, 1, 6, 7, 6, 1, 4, 3, 6, 0,\
                2, 4, 5, 5, 5, 2, 9, 0, 6, 8,\
                1, 8, 4, 6, 1, 1, 8, 7, 4, 3])

## Média

In [5]:
np.mean(dados)

4.6

## Mediana

In [6]:
np.median(dados)

4.5

## Moda

In [8]:
import pandas as pd

df = pd.DataFrame({'dados':dados})
df.head()

   dados
0      6
1      1
2      1
3     10
4      6

In [10]:
df.mode()

   dados
0      1
1      6

Portanto, são dois valores frequentes

# Questão 3

O artigo “Oxygen Consumpiton During Fire Suppression: Error of Heart Rate Estimation" informou os dados a seguir sobre consumo de oxigênio ($mL$, $kg$, $min$) para uma mostra de 10 bombeiros em uma simulação de supressão de incêndios.

`29,5 49,3 30,6 28,2 28,0 26,3 33,9 29,4 23,5 31,6`

A partir dessa amostra de dados, calcule: 

- a) A amplitude amostral
- b) A variância e o desvio padrão amostral

In [14]:
consumo_oxigenio = np.array([29.5, 49.3, 30.6, 28.2, 28.0, 26.3, 33.9, 29.4, 23.5, 31.6])

## Amplitude amostra para o consumo de oxigênio

In [19]:
amplitude_amostral = np.ptp(consumo_oxigenio)
print(f"Variância: {amplitude_amostral:.2f}")

Variância: 25.80

## A variância e o desvio padrão amostral

In [18]:
variancia = np.var(consumo_oxigenio)
print(f"Variância: {variancia:.2f}")

Variância: 44.38

# Questão 4

Analise a base de dados do Microdados do Censo Escolar da Educação Básica 2023, disponível no [link](https://download.inep.gov.br/dados_abertos/microdados_censo_escolar_2023.zip) Responda as seguintes perguntas sobre essa base de dados:

- a) Quais questões de pesquisa poderiam ser interessantes de serem realizadas a partir dessa base de dados?
- b) Usando a biblioteca do Pandas e outras que julgar necessária e realize as seguintes análises. OBS: Para os itens iii até vi, considere somente as escolas do Espírito Santo.
  - i. Essa base de dados tem quantos registros?
  - ii. Essa base de dados tem quantos atributos?
  - iii. Quantas escolas e cidades distintas estão na base de dados?
  - iv. Qual a distribuição de escolas por tipo de localização (Urbana ou Rural)?
  - v. Qual o percentual de escolas que tem acesso à Internet?
  - vi. Qual a média, variância e desvio padrão do número de matriculas dos alunos do 1o ao 9o por ano?

## Importanto os dados

In [27]:
caminho_dado = "../../datasets/microdados_ed_basica_2023.csv"
dataset = pd.read_csv(caminho_dado, sep=';', encoding='iso-8859-1')

/tmp/ipykernel_2408/537482709.py:2: DtypeWarning: Columns (31) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv(caminho_dado, sep=';', encoding='iso-8859-1')

In [28]:
dataset.head()

,NU_ANO_CENSO,NO_REGIAO,CO_REGIAO,NO_UF,SG_UF,CO_UF,NO_MUNICIPIO,CO_MUNICIPIO,NO_REGIAO_GEOG_INTERM,CO_REGIAO_GEOG_INTERM,...,QT_TUR_BAS_D,QT_TUR_BAS_N,QT_TUR_BAS_EAD,QT_TUR_INF_INT,QT_TUR_INF_CRE_INT,QT_TUR_INF_PRE_INT,QT_TUR_FUND_INT,QT_TUR_FUND_AI_INT,QT_TUR_FUND_AF_INT,QT_TUR_MED_INT
0,2023,Norte,1,Rondônia,RO,11,Porto Velho,1100205,Porto Velho,1101,...,14.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
1,2023,Norte,1,Rondônia,RO,11,Porto Velho,1100205,Porto Velho,1101,...,12.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2023,Norte,1,Rondônia,RO,11,Porto Velho,1100205,Porto Velho,1101,...,38.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2023,Norte,1,Rondônia,RO,11,Porto Velho,1100205,Porto Velho,1101,...,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2023,Norte,1,Rondônia,RO,11,Porto Velho,1100205,Porto Velho,1101,...,27.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Item b.i

Essa base de dados tem quantos registros?

In [33]:
print(f'A base tem {dataset.shape[0]} registros')

A base tem 217625 registros

## Item b.ii

Essa base de dados tem quantos atributos?

In [34]:
print(f'A base tem {dataset.shape[1]} atributos')

A base tem 408 atributos

## Item b.iii

Quantas escolas e cidades distintas estão na base de dados, para o *Espírtio Santo*

### Escolas do Espírito Santo

In [55]:
dataset_es = dataset[dataset['SG_UF'] == 'ES']
#cidades_es
print(f"Há {dataset_es['CO_ENTIDADE'].nunique()} escolas do Espírito Santo na base")

Há 4037 escolas do Espírito Santo na base

### Cidades do Espírito Santo

In [56]:
print(f"Há {dataset_es['CO_MUNICIPIO'].nunique()} cidades do Espírito Santo na base")

Há 78 cidades do Espírito Santo na base

## Item b.iv

Qual a distribuição de escolas por tipo de localização (Urbana ou Rural)?

In [87]:
grupos_localizacao = dataset_es.groupby('TP_LOCALIZACAO')

In [88]:
for localizacao, df_loc in grupos_localizacao:
    if localizacao == 1:
        print('Urbana: ', df_loc['CO_ENTIDADE'].count())
    if localizacao == 2:
        print('Rural: ', df_loc['CO_ENTIDADE'].count())

Urbana:  2506
Rural:  1531

## Item b.v

Qual o percentual de escolas que tem acesso à Internet?

Obs.: serão removidos os registros sem informação (NaN)

In [89]:
com_acesso = dataset_es['IN_INTERNET'].dropna().sum()
total = len(dataset_es['IN_INTERNET'].dropna())

percentual = com_acesso / total * 100
print(f'Percentual de escolas da base com acesso à internet: {percentual:.1f}%')

Percentual de escolas da base com acesso à internet: 94.9%

## Item b.vi

Qual a média, variância e desvio padrão do número de matriculas dos alunos do 1o ao 9o por ano?

In [92]:
# Dataframe para armazenar o número de matrículas
df_alunos_fundamental = dataset_es[['QT_MAT_FUND_AI_1',
                                    'QT_MAT_FUND_AI_2',
                                    'QT_MAT_FUND_AI_3',
                                    'QT_MAT_FUND_AI_4',
                                    'QT_MAT_FUND_AI_5',
                                    'QT_MAT_FUND_AF_6',
                                    'QT_MAT_FUND_AF_7',
                                    'QT_MAT_FUND_AF_8',
                                    'QT_MAT_FUND_AF_9']]

In [93]:
# Calcular a média, removendo os NaNs, para cada um dos anos
media = df_alunos_fundamental.mean(axis=0, skipna=True)
variancia = df_alunos_fundamental.var(axis=0, skipna=True)
desvio_padrao = df_alunos_fundamental.std(axis=0, skipna=True)

QT_MAT_FUND_AI_1    17.642928
QT_MAT_FUND_AI_2    18.974495
QT_MAT_FUND_AI_3    19.716131
QT_MAT_FUND_AI_4    18.485922
QT_MAT_FUND_AI_5    18.117257
QT_MAT_FUND_AF_6    19.539583
QT_MAT_FUND_AF_7    18.559126
QT_MAT_FUND_AF_8    17.542895
QT_MAT_FUND_AF_9    16.495197
dtype: float64

In [95]:
# Criando um novo dataframe com a média, variância e
# desvio padrão
resultado = pd.DataFrame({'Média': media, 'Variância': variancia, 'Desvio Padrão': desvio_padrao})

In [99]:
resultado.round(2)

                  Média  Variância  Desvio Padrão
QT_MAT_FUND_AI_1  17.64     947.85          30.79
QT_MAT_FUND_AI_2  18.97    1078.42          32.84
QT_MAT_FUND_AI_3  19.72    1126.73          33.57
QT_MAT_FUND_AI_4  18.49    1000.81          31.64
QT_MAT_FUND_AI_5  18.12     999.22          31.61
QT_MAT_FUND_AF_6  19.54    1639.99          40.50
QT_MAT_FUND_AF_7  18.56    1396.70          37.37
QT_MAT_FUND_AF_8  17.54    1258.07          35.47
QT_MAT_FUND_AF_9  16.50    1165.48          34.14