# TP3

Autor: Sandro Ricardo de Souza
Professor: Richard

## TP3 - Item 1 - Ideb simulados 
 
Desenvolver um algoritmo para exibição de gráficos coropléticos dos municípios do Espírito Santo (ES), utilizando dados simulados de IDEB.

1. Geração do Conjunto de Dados IDEB Simulado:
    * Criar um conjunto de dados de IDEB simulado para os municípios do Espírito Santo, gerando valores aleatórios entre 3.0 e 7.0.
    * O DataFrame gerado deve conter:
        - o cod_mun (código do município),
        - o ideb_ano (valor simulado do IDEB)
    *  Motrar o código imprimindo as 5 primeiras linhas da tabela

### Imports

In [2]:
import pandas as pd
import numpy as np
import random
import os

### Leitura dos nomes e códigos dos municípios do Espírito Santo

In [3]:
path_municipios = r'../../../datasets/nomes_codigos_municipios_ES.xlsx'
municipios = pd.read_excel(path_municipios)

In [4]:
municipios.head()

   codigo_municipío      nome_municipio
0           3200102      Afonso Cláudio
1           3200169  Água Doce do Norte
2           3200136        Águia Branca
3           3200201              Alegre
4           3200300      Alfredo Chaves

### Geração de dados simulados do IDEB

Geração de dados simulados com o índice do ideb de cada municípo. Após a criação dos índices simulados, estes serão incluidos no base

In [7]:
ideb = [round(random.uniform(3.0, 7.0), 1) for _ in range(len(municipios))]
municipios['ideb'] = ideb
municipios

    codigo_municipío      nome_municipio  ideb
0            3200102      Afonso Cláudio   5.0
1            3200169  Água Doce do Norte   5.4
2            3200136        Águia Branca   6.2
3            3200201              Alegre   4.6
4            3200300      Alfredo Chaves   4.7
..               ...                 ...   ...
73           3205101               Viana   5.7
74           3205150          Vila Pavão   4.0
75           3205176        Vila Valério   4.1
76           3205200          Vila Velha   6.5
77           3205309             Vitória   4.8

[78 rows x 3 columns]

## TP3 - Item 2 - Mapa Coroplético 

Gerar um mapa coroplético dos municípios do Espírito Santo, com os valores médios do IDEB de cada município.

### Leitura dos dados geoprocessados

### Mesclar os dados com as geometrias e os dados simulados do IDEB

### Plotar o gráfico

### Interpretação dos resultados